- provide(:title, "運営会社")
.fixedpage__wrapper
  .fixedpage__titleArea
    %h1.fixedpage__title 運営会社
  %table.company__table
    %tr.company__table-row
      %td.company__table-item 会社名
      %td.company__table-data Bodymate 株式会社
    %tr.company__table-row
      %td.company__table-item 設立
      %td.company__table-data 2018年10月10日（旧体育の日）
    %tr.company__table-row
      %td.company__table-item 所在地
      %td.company__table-data 〒170-0011<br>東京都豊島区池袋本町1-8-3
    %tr.company__table-row
      %td.company__table-item 事業内容
      %td.company__table-data
        %p インターネットスポーツメディアの運営<br>ウェブアプリケーションの開発・運営<br>スポーツイベントの企画・運営
    %tr.company__table-row
      %td.company__table-item サービス
      %td.company__table-data
        %p
          スポーツメディア Bodymate<br>
          %a{href: "https://bodymate.jp/", target: "_blank"} https://bodymate.jp/
        %p
          スポーツイベント Bodymate<br>
          %a{href: "https://event.bodymate.jp/",target: "_blank"} https://event.bodymate.jp/
        %p
          カラダログ & 記録プラットホーム bodynote<br>
          %a{href: "https://bodynote.jp/", target: "_blank"} https://bodynote.jp/
