- provide(:title, "使い方")
.fixedpage__wrapper
  .fixedpage__titleArea
    %h1.fixedpage__title ご利用ガイド
  %h2 イベントを募集する
  %p イベントの募集には一切費用はかかりませんので、安心してご活用ください。
  %p イベント募集には、アカウントの作成が必要となります。<br>まだ、アカウントを作成されていない方は下記より新規アカウント登録をお願いします。
  - unless user_signed_in?
    = link_to '新規アカウント登録をする', new_user_registration_path
  %h3 1. イベントを作成する
  %p ・ログイン後、『新規投稿』よりイベントの作成を行う事ができます。
  %p ・必要事項を記入し、新規イベント作成ボタン押すとイベントが作成されます。
  %p ・1つのイベント内でチケットは複数発行ができます。
  %h3 2. 予約を確認する
  %p ・イベントが予約されると、イベント作成時に記入したメールアドレス宛に確認メールが送信されます。
  %p ・イベント詳細ページには自分が作成したイベントに限り、チケットごとの参加者一覧が表示されます。
  %p ・予約がキャンセルされた場合、イベント作成時に記入したメールアドレス宛にキャンセル確認メールが送信されます。
  %h3 3. イベントを編集、削除する
  %p ・イベントの編集は、マイページの主催イベントリストの編集からできます。<br>&nbsp;&nbsp;&nbsp;&nbsp;また、自分が作成したイベントに限り、イベント詳細画面にイベント編集ボタンが表示されます。
  %p ・イベントの削除は、自分が作成したイベントに限り、イベント詳細画面にイベント削除ボタンが表示されます。<br>&nbsp;&nbsp;&nbsp;&nbsp;イベントを削除してもチケット予約情報は削除されませんのでご注意ください。
  %h3 4. イベントを複製する
  %p ・終了したイベントはマイページの終了したイベントリストに表示され、複製することができます。
  %h2 イベントに参加する
  %h3 1. イベントを予約する
  %p ・イベントの予約にはログインは必要ありません。イベント詳細ページよりお名前とメールアドレスのみで予約ができます。
  %p ・イベントを予約すると、イベント予約時に記入したメールアドレス宛に確認メールが送信されます。
  %h3 2. 予約を確認する
  %p ・会員登録されていない方は、送信された予約確認メールより予約情報をご確認ください。
  %p ・会員登録をすると、マイページより現在予約中のイベントチケット、過去のイベントチケットが確認できます。
  %h3 3. 予約をキャンセルする
  %p ・会員登録されていない方は、イベント詳細ページの主催者メールアドレス宛にキャンセルの旨をご連絡ください。
  %p ・会員登録をすると、マイページのチケット一覧より予約キャンセルができます。<br>&nbsp;&nbsp;&nbsp;&nbsp;予約がキャンセルされると、イベント予約時に記入したメールアドレス宛にキャンセル確認メールが送信されます。
