$dark_gray:      #a9a9a9;
$light_gray:     #d1d1d1;
$blue:           #1e90ff;
$blue_hover:     #1d72c4;
$red:            #ff404c;
$red_hover:      #bf2a2a;
$font_black:     #555555;

$brand-primary:  #ee9d31;
