.contents-wrapper {
  color: $font_black;
  border: 1px solid $dark_gray;
  border-radius: 5px;
  margin: 120px 30px 50px;
  padding-bottom: 30px;
  h1 {
    font-size: 20px;
    line-height: 1.5;
    margin: 20px 20px 10px;
  }
  h2 {
    p {
      font-size: 16px;
    }
  }
  .event-show-prefecture {
    margin-left: 20px;
  }
  .event-show-genre1, .event-show-genre2, .event-show-prefecture, .event-show-feature {
    font-size: 12px;
    color: $brand_primary;
    border: 1px solid $brand_primary;
    border-radius: 2px;
    padding: 2px 6px;
    display: inline-block;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 18px;
    margin-bottom: 0;
    span {
      font-size: 28px;
    }
    p {
      display: inline-block;
    }
  }
  .left-contents {
    padding-left: 15px;
    padding-right: 15px;
    .event-image {
      width: 100%;
      height: 360px;
      object-fit: cover;
    }
    .event-description {
      line-height: 1.8;
      margin: 15px 10px 0
      ;
    }
    .event-basicinfo {
      a {
        color: white;
        font-size: 10px;
        background-color: $brand_primary;
        border: 1px solid $brand_primary;
        display: inline-block;
        border-radius: 2px;
        padding: 2px 5px;
        margin-left: 5px;
      }
      a:hover {
        text-decoration: none;
      }
    }
    .event-map {
      width: 100%;
      height: 280px;
      margin: 20px 0 30px;
    }
    .event-sentence {
      line-height: 1.6;
      margin-top: 15px;
      .event-sentencebody {
        margin: 0 10px;
      }
      .event-sentencebody a:hover {
        text-decoration: none;
      }
    }
    .event-organizer {
      margin-bottom: 20px;
      .attention {
        font-size: 10px;
        margin-bottom: 5px;
      }
      a:hover {
        text-decoration: none;
      }
      .organizer-facebook, .organizer-twitter {
        margin-right: 15px;
      }
    }
  }
  table {
    line-height: 1.6;
    width: 100%;
  }
  table tr th,
  table tr td {
    padding: 6px 10px;
    border: 1px solid $dark_gray;
    vertical-align: middle;
  }
  table tr th {
    text-align: center;
    font-weight: bold;
    width: 25%;
  }
  .right-contents {
    padding-left: 15px;
    padding-right: 15px;
    .event-tickets {
      margin-bottom: 30px;
      .ticket-box {
        border: 1px solid $dark_gray;
        border-radius: 5px;
        padding: 10px 20px;
        margin-bottom: 10px;
        position: relative;
        .ticket-name {
          font-size: 16px;
          line-height: 1.6;
        }
        .ticket-price {
          font-size: 16px;
          line-height: 1.6;
        }
        .ticket-quantity {
          font-size: 16px;
          line-height: 1.6;
        }
        .ticket-bookingbtn {
          margin-right: 20px;
          position: absolute;
          right: 0;
          bottom: 20px;
          a {
            color: white;
            background-color: $brand-primary;
            border: 1px solid $brand-primary;
            border-radius: 5px;
            padding: 6px 15px;
            margin-bottom: 30px;
            text-decoration: none;
          }
          a:hover {
            color: $brand-primary;
            background-color: white;
          }
        }
        .ticket-full {
          margin-right: 20px;
          position: absolute;
          right: 0;
          bottom: 20px;
          p {
            color: white;
            background-color: $red;
            border: 1px solid $red;
            border-radius: 5px;
            padding: 6px 15px;
            margin-bottom: -5px;
          }
        }
        .ticket-end {
          margin-right: 20px;
          position: absolute;
          right: 0;
          bottom: 20px;
          p {
            color: white;
            background-color: #999;
            border: 1px solid #999;
            border-radius: 5px;
            padding: 6px 15px;
            margin-bottom: -5px;
          }
        }
      }
      .booking-people {
        padding-left: 5px;
        margin-bottom: 15px;
        h3 {
          font-size: 14px;
        }
        .booking-parson-name {
          line-height: 1.6;
        }
      }
    }
  }
}
.event-controllbtn {
  .event-editbtn {
    background-color: $blue;
    border-radius: 4px;
    text-align: center;
    padding: 10px 18px;
    a {
      color: white;
      text-decoration: none;
    }
  }
  .event-editbtn:hover {
    background-color: $blue_hover;
  }
  .event-deletebtn {
    border-radius: 4px;
    background-color: $red;
    text-align: center;
    padding: 10px 18px;
    margin-top: 10px;
    a {
      color: white;
      text-decoration: none;
    }
  }
  .event-deletebtn:hover {
    background-color: $red_hover;
  }
}

@media (max-width: 767px) {
  .contents-wrapper {
    margin: 70px 10px 20px;
    border: none;
    h2 {
      p {
        font-size: 14px;
      }
    }
    .event-show-genre1, .event-show-genre2, .event-show-prefecture, .event-show-feature {
      font-size: 10px;
      padding: 2px 5px;
    }
    .left-contents {
      .event-image {
        width: 100vw;
        height: 280px;
        position: relative;
        left: -25px;
      }
      table {
        font-size: 12px;
      }
      .event-map {
        height: 220px;
      }
    }
    .right-contents {
      .event-tickets {
        .booking-people {
          h3 {
            font-size: 12px;
          }
          .booking-person-name {
            font-size: 12px;
          }
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .contents-wrapper{
    margin: 70px 20px 40px;
    .left-contents {
      padding-right: 10px;
    }
    .col-md-4 {
      padding: 0;
      right: 20px;
      .right-contents {
        padding-right: 8px;
        padding-left: 10px;
        .col-md-4 .event-tickets {
          position: fixed;
          padding-right: 5px;
          width: 100%;
        }
      }
    }
  }
}
