.contents-wrapper {
  color: $font_black;
  border: 1px solid $dark_gray;
  border-radius: 5px;
  margin-top: 120px;
  margin-bottom: 50px;
  padding-bottom: 30px;
  h1 {
    font-size: 22px;
    line-height: 1.5;
    margin: 20px;
  }
  .left-contents {
    padding-left: 15px;
    padding-right: 15px;
    .event-image {
      width: 100%;
      height: 360px;
      object-fit: cover;
    }
    .event-description {
      font-size: 16px;
      line-height: 1.8;
      margin: 15px 10px 0
      ;
    }
    .event-basicinfo {
    }
    .event-sentence {
      font-size: 16px;
      line-height: 1.8;
      margin-top: 15px;
      .event-sentencebody {
        margin: 0 10px;
      }
    }
    .event-organizer {
      margin-bottom: 20px;
      .organizer-facebook, .organizer-twitter {
        margin-right: 15px;
      }
    }
  }
  h2 {
    font-size: 20px;
  }
  table {
    font-size: 16px;
    line-height: 1.6;
    width: 100%;
  }
  table tr th,
  table tr td {
    padding: 6px 10px;
    border: 1px solid $dark_gray;
    vertical-align: middle;
  }
  table tr th {
    text-align: center;
    font-weight: bold;
    width: 25%;
  }
  .right-contents {
    padding-left: 15px;
    padding-right: 15px;
    .event-tickets {
      .ticket-box {
        border: 1px solid $dark_gray;
        border-radius: 5px;
        padding: 10px 20px;
        margin-bottom: 10px;
        position: relative;
        .ticket-name {
          font-size: 18px;
          line-height: 1.6;
        }
        .ticket-price {
          font-size: 16px;
          line-height: 1.6;
        }
        .ticket-quantity {
          font-size: 16px;
          line-height: 1.6;
        }
        .ticket-bookingbtn {
          margin-right: 20px;
          position: absolute;
          right: 0;
          bottom: 20px;
          a {
            color: white;
            background-color: $brand-primary;
            border: 1px solid $brand-primary;
            border-radius: 5px;
            padding: 6px 15px;
            margin-bottom: 30px;
            text-decoration: none;
          }
          a:hover {
            color: $brand-primary;
            background-color: white;
          }
        }
      }
    }
  }
}
.event-controllbtn {
  .event-editbtn {
    background-color: $blue;
    border-radius: 4px;
    text-align: center;
    padding: 12px 20px;
    font-size: 16px;
    a {
      color: white;
      text-decoration: none;
    }
  }
  .event-editbtn:hover {
    background-color: $blue_hover;
  }
  .event-deletebtn {
    border-radius: 4px;
    background-color: $red;
    text-align: center;
    padding: 12px 20px;
    font-size: 16px;
    margin-top: 10px;
    a {
      color: white;
      text-decoration: none;
    }
  }
  .event-deletebtn:hover {
    background-color: $red_hover;
  }
}

@media (max-width: 767px) {
  .contents-wrapper {
    margin-top: 80px;
    margin-bottom: 40px;
  }
}
@media (min-width: 992px) {
  .contents-wrapper .left-contents {
    padding-right: 10px;
  }
  .contents-wrapper .col-md-4 {
    padding: 0;
    right: 20px;
    .right-contents {
      padding-right: 8px;
      padding-left: 10px;
      .col-md-4 .event-tickets {
        position: fixed;
        padding-right: 5px;
        width: 100%;
      }
    }
  }
}
