.event_form_wrapper {
  border: 1px solid $dark_gray;
  border-radius: 5px;
  margin: 80px 28px 50px;
  h2 {
    color: $font_black;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .form-group {
    margin-top: 20px;
    .event-datatime-top {
      margin-bottom: 15px;
    }
    label {
      margin-bottom: 8px;
    }
  }
  label {
    color: $font_black;
  }
  .form-textarea {
    resize: none;
  }
  .ticket-box {
    background-color: #efefef;
    border: 1px solid $dark_gray;
    border-radius: 5px;
    padding: 5px 30px 0;
    margin-bottom: 15px;
    .price-form {
      width: 48%;
      float: left;
    }
    .quantity-form {
      width: 48%;
      float: right;
    }
    .ticket-button {
      margin-bottom: 25px;
      a.remove_ticket {
        background-color: white;
        border: 1px solid $brand-primary;
        border-radius: 5px;
        padding: 6px 15px;
        text-decoration: none;
      }
      a.remove_ticket:hover {
        color: white;
        background-color: $brand-primary;
      }
    }
    .ticket-delete {
      padding-top: 15px;
      clear: both;
      .ticket-delete  {
        margin-bottom: 3px;
      }
    }
  }
  .add-ticket-area {
    margin-top: 20px;
    a.add_ticket {
      background-color: white;
      border: 1px solid $brand-primary;
      border-radius: 5px;
      padding: 6px 15px;
      text-decoration: none;
    }
    a.add_ticket:hover {
      color: white;
      background-color: $brand-primary;
    }
  }
  .ticket-submit {
    margin-right: 20px;
    margin-bottom: 30px;
    .btn {
      padding: 10px 20px;
    }
  }
}

@media (min-width: 767px) {
  .event_form_wrapper {
    border: 1px solid $dark_gray;
    border-radius: 5px;
    margin: 120px 28px 50px;
  }
}
