.guide-wrapper {
  margin: 100px 15px 40px;
  color: $font_black;
  line-height: 1.6;
  h1 {
    font-size: 22px;
    text-align: center;
  }
  h2 {
    font-size: 20px;
    border-left: 3px solid $dark_primary;
    background-color: #e2e0ff;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 18px;
    padding: 10px 20px;
  }
  p {
    padding: 0 30px;
  }
  a {
    font-size: 16px;
    padding: 20px 30px;
  }
  a:hover {
    text-decoration: none;
  }
}

.terms, .privacy {
  color: $font_black;
  line-height: 1.6;
  margin-top: 100px;
  margin-bottom: 30px;
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
}

@media screen and (max-width:767px) {
  .terms, .privacy {
    margin-top: 60px;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 14px;
  }
  p {
    font-size: 12px
  }
  .guide-wrapper {
    margin: 70px 10px 30px;
    h1 {
      font-size: 20px;
    }
    h2 {
      font-size: 18px;
      border-left: 3px solid $dark_primary;
      background-color: #e2e0ff;
      padding: 10px 20px;
      margin-bottom: 20px;
    }
    h3 {
      font-size: 16px;
      padding: 5px 10px;
    }
    p {
      font-size: 12px;
      padding: 0 15px;
    }
    a {
      font-size: 14px;
      padding: 15px;
    }
  }
}
