.terms, .privacy {
  color: $font_black;
  line-height: 1.6;
  margin-top: 100px;
  margin-bottom: 30px;
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
}

@media screen and (max-width:767px) {
  .terms, .privacy {
    margin-top: 60px;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 14px;
  }
  p {
    font-size: 12px
  }
}
