.topimage {
  position: relative;
  .topslider {
    height: 620px;
    background-image: url(bodymateappheader.jpg);
    -webkit-background-size: 4352px;
    background-size: 4352px;
    -webkit-animation: bgscroll 25s linear infinite;
    animation: bgscroll 25s linear infinite;
    -webkit-filter: brightness(0.4);
    -moz-filter: brightness(0.4);
    -o-filter: brightness(0.4);
    -ms-filter: brightness(0.4);
    filter: brightness(0.4);
  }
  .topcontent {
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    .topcontent-button {
      text-align: center;
      .search-button {
        font-size: 20px;
        border: 1px solid white;
        border-radius: 3px;
        display: inline-block;
        padding: 12px 30px;
        margin-top: 30px;
      }
      .post-button {
        font-size: 20px;
        border: 1px solid white;
        border-radius: 3px;
        display: inline-block;
        padding: 12px 30px;
        margin:30px 10px 0 10px;
      }
    }
  }
}

@-webkit-keyframes bgscroll {
  0% {background-position: 0 0;}
  100% {background-position: -4352pxã€€0;}
}

@keyframes bgscroll {
  0% {background-position: 0 0;}
  100% {background-position: -620px 0;}
}

.home-search {
  background-color: #abbccc;
  height: 160px;
  .home-search-container {
    margin: 24px 0;
    .home-search-box {
      height: 40px;
      width: 180px;
    }
    .fa-times {
      font-size: 20px;
      margin: 0 10px;
    }
  }
  .home-search-button {
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    color: $blue;
    border: solid 1px $blue;
    border-radius: 4px;
    background-color: white;
    transition: .3s;
    padding: 8px 12px;
  }
  .home-search-button-area {
    .home-search-button:hover {
      background: $blue;
      color: white;
    }
  }
}

.new-events {
  h2 {
    color: $font_black;
    font-size: 28px;
    text-align: center;
  }
  .new-events-description {
    color: $font_black;
    font-size: 18px;
    text-align: center;
  }
  .new-events-wraper {
    margin: 0;
    padding: 5px 0 15px;
    .event-block {
      border: 1px solid $dark_gray;
      border-radius: 3px;
      margin: 8px 8px 8px;
      position: relative;
      box-shadow: 0 2px 4px $dark_gray;
      .event-image {
        position: relative;
        .event-name {
          color: white;
          width: 100%;
          z-index: 3;
          position: absolute;
          top: 0;
          left: 0;
        }
        .event-name-background {
          background-color: black;
          width: 100%;
          z-index: 1;
          opacity: 0.5;
          position: absolute;
          top: 0;
          left: 0;
        }
        .sports-genre1 {
          color: $blue;
          font-size: 12px;
          border: 1px solid $dark_gray;
          border-radius: 2px;
          background-color: $light_gray;
          text-decoration: none;
          padding: 0 5px;
          position: absolute;
          bottom: 25px;
          right: 8px;
        }
        .sports-genre2 {
          color: $blue;
          font-size: 12px;
          border: 1px solid $dark_gray;
          border-radius: 2px;
          background-color: $light_gray;
          text-decoration: none;
          padding: 0 5px;
          position: absolute;
          bottom: 5px;
          right: 8px;
        }
        .price {
          color: $font_black;
          font-size: 16px;
          border: 1px solid $font_black;
          border-radius: 1px;
          background-color: white;
          padding: 0 10px;
          position: absolute;
          bottom: -10px;
          left: 10px;
        }
      }
      .event-description {
        color: $font_black;
        height: 95px;
        border-bottom: 1px solid $dark_gray;
        padding: 15px 5px 1px;
      }
      .event-start {
        color: $font_black;
        padding: 5px 5px 0;
        margin: 0;
      }
      .event-address {
        color: $font_black;
        padding: 0 5px 5px;
        margin: 0;
      }
    }
  }
  .new-events-wraper .col-md-3 {
    padding: 0;
  }
}

.post-event {
  background-color: #abbccc;
  height: 160px;
  .post-event-content {
    margin-top: 20px;
    .post-event-left {
      float: left;
      h2 {
        color: $font_black;
        font-size: 28px;
      }
      p {
        color: $font_black;
        font-size: 18px;
        margin-top: 15px;
      }
    }
    .post-event-right {
      float: right;
      .post-event-button {
        display: inline-block;
        font-size: 20px;
        color: $blue;
        border: solid 1px $blue;
        border-radius: 4px;
        text-decoration: none;
        background-color: white;
        transition: .3s;
        padding: 10px 15px;
        margin-top: 32px;
      }
      .post-event-button:hover {
        background: $blue;
        color: white;
      }
    }
  }
}

.about-bodymate {
  color: $font_black;
  h2 {
    text-align: center;
    font-size: 28px;
    margin-top: 30px;
  }
  p {
    font-size: 18px;
    text-align: center;
    margin: 20px 0 40px;
  }
  h3 {
    text-align: center;
  }
  .free-image {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    display: block;
    margin: 0 auto;
  }
  .search-image {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    display: block;
    margin: 0 auto;
  }
  .booking-image {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    display: block;
    margin: 0 auto;
  }
}

.categories {

}
