.topimage {
  position: relative;
  border-bottom: 4px solid $brand_primary;
  .topslider {
    height: 450px;
    background-image: url(image-path("bodymateappheader.jpg"));
    -webkit-background-size: 3180px;
    background-size: 3180px;
    -webkit-animation: bgscroll 25s linear infinite;
    animation: bgscroll 25s linear infinite;
  }
  .gradation {
    height: 450px;
    width: 100%;
    background: linear-gradient(rgba(246, 255, 0, .6), rgba(255, 51, 102, .6));
    background: -wedkit-linear-gradient(rgba(246, 255, 0, .6), rgba(255, 44, 171, .6), rgba(255, 0, 161, .6));
    animation: AnimationTop 10s ease infinite;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .topcontent {
    width: 80%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 3;
    h1 {
      color: #ffffff;
      font-size: 24px;
      margin: 50px 0 20px;
      padding: 12px 15px;
      background-color: rgba(0, 0, 0, 0.5);
    }
    p {
      color: #ffffff;
      font-size: 16px;
      line-height: 1.6;
    }
    .topcontent-button {
      .button {
        position: relative;
        display: inline-block;
        padding: 12px 32px;
        text-decoration: none;
        border: solid 2px $brand-primary;
        border-radius: 2px;
        color: $brand-primary;
        transition: .2s;
        background: rgba(0, 0, 0, .6);
        font-size: 18px;
        margin: 30px 0px;
      }
      .button:hover,
      .button:active {
        background-color: rgba(0, 0, 0, .4);
        color: white;
      }
    }
  }
}
@keyframes AnimationTop {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@-webkit-keyframes bgscroll {
  0% {background-position: 0 0;}
  100% {background-position: -4352pxã€€0;}
}

@keyframes bgscroll {
  0% {background-position: 0 0;}
  100% {background-position: -620px 0;}
}

.home-search {
  background-color: #abbccc;
  height: 160px;
  .home-search-container {
    margin: 24px 0;
    .home-search-box {
      height: 40px;
      width: 180px;
    }
    .fa-times {
      font-size: 20px;
      margin: 0 10px;
    }
  }
  .home-search-button {
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    color: $blue;
    border: solid 1px $blue;
    border-radius: 4px;
    background-color: white;
    transition: .3s;
    padding: 8px 12px;
  }
  .home-search-button-area {
    .home-search-button:hover {
      background: $blue;
      color: white;
    }
  }
}

.new-events {
  margin: 0 15px;
  h2 {
    color: $font_black;
    font-size: 20px;
    text-align: center;
  }
  .new-events-description {
    color: $font_black;
    font-size: 16px;
    text-align: center;
    margin-bottom: 2px;
  }
  .new-events-wraper {
    margin: 0;
    padding: 5px 0 15px;
    .event-block {
      border: 1px solid $dark_gray;
      border-radius: 3px;
      margin: 8px 8px 8px;
      position: relative;
      box-shadow: 0 2px 4px $dark_gray;
      .event-image {
        position: relative;
        .event-name {
          color: white;
          width: 100%;
          padding: 3px 10px;
          z-index: 3;
          position: absolute;
          top: 0;
          left: 0;
        }
        .event-name-background {
          background-color: black;
          width: 100%;
          padding: 3px 10px;
          z-index: 1;
          opacity: 0.5;
          position: absolute;
          top: 0;
          left: 0;
        }
        .sports-genre1 {
          color: $blue;
          font-size: 10px;
          border: 1px solid $dark_gray;
          border-radius: 2px;
          text-decoration: none;
          padding: 2px 4px;
          position: absolute;
          bottom: 30px;
          right: 5px;
        }
        .sports-genre2 {
          color: $blue;
          font-size: 10px;
          border: 1px solid $dark_gray;
          border-radius: 2px;
          text-decoration: none;
          padding: 2px 4px;
          position: absolute;
          bottom: 5px;
          right: 5px;
        }
        .wanted {
          color: $blue;
          font-size: 12px;
          border: 1px solid $font_black;
          border-radius: 2px;
          background-color: white;
          padding: 2px 8px;
          position: absolute;
          bottom: -8px;
          left: 5px;
        }
        .recruit-end {
          color: $red;
          font-size: 12px;
          border: 1px solid $font_black;
          border-radius: 2px;
          background-color: white;
          padding: 2px 8px;
          position: absolute;
          bottom: -10px;
          left: 5px;
        }
      }
      .event-info {
        a {
          text-decoration: none;
        }
        i.fa-calendar-o {
          font-size: 14px;
          margin-right: 6px;
        }
        i.fa-map-marker {
          font-size: 16px;
          margin-right: 8px;
          margin-left: 2px;
        }
        i.fa-user-circle-o {
          font-size: 14px;
          margin-right: 4px;
        }
        .event-description {
          color: $font_black;
          font-size: 12px;
          height: 84px;
          border-bottom: 1px solid $dark_gray;
          padding: 15px 7px 1px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 4;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .event-info {
          padding: 2px 5px 7px;
          .event-datetime {
            color: $font_black;
            font-size: 12px;
            padding: 4px 5px 0;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .event-address, .event-organizer {
            color: $font_black;
            font-size: 12px;
            padding: 3px 5px 0;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
  .new-events-wraper .col-md-3 {
    padding: 0;
  }
}

.post-event {
  background-color: $dark_primary;
  min-height: 140px;
  height: auto;
  text-align: center;
  color:#FFFFFF;
  .post-event-content {
    height: auto;
    margin: 15px 0;
    padding: 20px 0px;
    .post-event-left {
      text-align: left;
      display: inline-block;
      text-align: center;
      h2 {
        margin-top: 0px;
        font-size: 20px;
        text-align: left;
      }
      p {
        font-size: 1.2em;
        margin-top: 15px;
        margin-bottom: 0px;
        text-align: left;
      }
    }
    .post-event-right {
      padding: 13px;
      .post-event-button {
        display: inline-block;
        font-size: 20px;
        text-decoration: none;
        color: #333333;
        border: solid 2px #333333;
        border-radius: 4px;
        background-color: $brand-primary;
        transition: .3s;
        padding: 8px 12px;
      }
      .post-event-button:hover,
      .post-event-button:active {
        border: solid 2px $brand-primary;
        background: #333333;
        color: $brand-primary;
      }
    }
  }
}

.about-bodymate {
  color: $font_black;
  .about-bodymate-area {
    margin: 36px 0 16px;
    h2 {
      text-align: center;
      font-size: 20px;
    }
    p {
      font-size: 16px;
      text-align: center;
      margin: 15px 0;
    }
    h3 {
      text-align: center;
      font-size: 18px;
    }
    .free-image {
      width: 180px;
      height: 180px;
      border: 4px solid $dark_gray;
      border-radius: 200px;
      display: block;
      margin: 20px auto 0;
    }
    .search-image {
      width: 180px;
      height: 180px;
      border: 4px solid $dark_gray;
      border-radius: 200px;
      display: block;
      margin: 20px auto 0;
    }
    .booking-image {
      width: 180px;
      height: 180px;
      border: 4px solid $dark_gray;
      border-radius: 200px;
      display: block;
      margin: 20px auto 0;
    }
  }
}

@media screen and (max-width:767px) {
  .topimage {
    .topslider {
      margin-top: 50px;
    }
    .topcontent {
      width: 90%;
      h1 {
        font-size: 20px;
      }
      p {
        font-size: 16px;;
        line-height: 2;
      }
      .topcontent-button {
        .button {
          font-size: 16px;
          padding: 10px 28px;
        }
      }
    }
  }
  .new-events {
    margin: 0;
    .new-events-wraper{
      padding: 5px 5px 15px;
      .event-block {
        margin: 8px 3px;
        .event-name {
          font-size: 12px;
        }
        .event-name-background {
          font-size: 12px;
        }
        .sports-genre1 {
          font-size: 8px;
        }
        .sports-genre2 {
          font-size: 8px;
        }
        .wanted {
          padding: 2px 6px;
        }
        .recruit-end {
          padding: 2px 6px;
        }
      }
    }
  }
}
