.prefecture-events {
  margin: 100px 15px 0;
  h1 {
    color: $font_black;
    font-size: 20px;
    text-align: center;
  }
  .new-events-description {
    color: $font_black;
    font-size: 16px;
    text-align: center;
    margin-bottom: 2px;
  }
  .new-events-wraper {
    margin: 0;
    padding: 5px 0 15px;
    .event-block {
      border: 1px solid $dark_gray;
      border-radius: 3px;
      margin: 8px 8px 8px;
      position: relative;
      box-shadow: 0 2px 4px $dark_gray;
      .event-image {
        position: relative;
        .event-name {
          color: white;
          width: 100%;
          padding: 3px 10px;
          z-index: 3;
          position: absolute;
          top: 0;
          left: 0;
        }
        .event-name-background {
          background-color: black;
          width: 100%;
          padding: 3px 10px;
          z-index: 1;
          opacity: 0.5;
          position: absolute;
          top: 0;
          left: 0;
        }
        .sports-genre1 {
          color: $brand_primary;
          font-size: 10px;
          border: 1px solid $dark_gray;
          border-radius: 2px;
          background-color: $light_gray;
          text-decoration: none;
          padding: 2px 4px;
          position: absolute;
          bottom: 30px;
          right: 5px;
        }
        .sports-genre2 {
          color: $brand_primary;
          font-size: 10px;
          border: 1px solid $dark_gray;
          border-radius: 2px;
          background-color: $light_gray;
          text-decoration: none;
          padding: 2px 4px;
          position: absolute;
          bottom: 5px;
          right: 5px;
        }
        .wanted {
          color: $blue;
          font-size: 12px;
          border: 1px solid $font_black;
          border-radius: 2px;
          background-color: white;
          padding: 2px 8px;
          position: absolute;
          bottom: -8px;
          left: 5px;
        }
        .recruit-end {
          color: $red;
          font-size: 12px;
          border: 1px solid $font_black;
          border-radius: 2px;
          background-color: white;
          padding: 2px 8px;
          position: absolute;
          bottom: -10px;
          left: 5px;
        }
      }
      .event-info {
        a {
          text-decoration: none;
        }
        i.fa-calendar-o {
          font-size: 14px;
          margin-right: 6px;
        }
        i.fa-map-marker {
          font-size: 16px;
          margin-right: 8px;
          margin-left: 2px;
        }
        i.fa-user-circle-o {
          font-size: 14px;
          margin-right: 4px;
        }
        .event-description {
          color: $font_black;
          font-size: 12px;
          height: 84px;
          border-bottom: 1px solid $dark_gray;
          padding: 15px 7px 1px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 4;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .event-info {
          padding: 2px 5px 7px;
          .event-datetime {
            color: $font_black;
            font-size: 12px;
            padding: 4px 5px 0;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .event-address, .event-organizer {
            color: $font_black;
            font-size: 12px;
            padding: 3px 5px 0;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
  .new-events-wraper .col-md-3 {
    padding: 0;
  }
}


@media screen and (max-width:767px) {
  .prefecture-events {
    margin-top: 70px;
    .new-events-wraper{
      padding: 5px 5px 15px;
      .event-block {
        margin: 8px 3px;
      }
    }
  }
}
