.mypage-wrapper {
  color: $font_black;
  margin: 100px 30px 50px;
  h1 {
    font-size: 20px;
  }
  h2 {
    color: #fff;
    font-weight: bold;
    position: relative;
    background: -webkit-repeating-linear-gradient(-45deg, #08008e, #08008e 4px,#08017a 3px, #08017a 8px);
    background: repeating-linear-gradient(-45deg, #08008e, #08008e 4px,#08017a 3px, #08017a 8px);
    border-radius: 3px;
    font-size: 14px;
    padding: 12px 18px;
    margin-bottom: 15px;
  }
  h3 {
    font-size: 16px;
    padding: 5px 10px 0 5px;;
  }
  a:hover {
    text-decoration: none;
  }
  table {
    width: 100%;
    border: 1px solid $dark_gray;
    border-collapse: collapse;
    th {
      color: white;
      text-align: center;
      background-color: #08017a;
    }
    th, td {
      border: 1px solid $dark_gray;
      padding: 5px 10px;
    }
  }
  .profile-area {
    padding: 0 10px;
  }
  .event-area {
    .event-create-btn {
      border: 1px solid $brand_primary;
      border-radius: 2px;
      padding: 5px 10px;
      display: inline-block;
      margin-top: 15px;

    }
  }
  .more-button-area {
    margin: 20px 0 30px;
    text-align: center;
    .more-button {
      color: #fff;
      background-color: $brand_primary;
      border: 1px solid $brand_primary;
      border-radius: 3px;
      padding: 6px 20px;
      margin: 10px 0 5px;
    }
    .more-button:hover {
      color: $brand_primary;
      background-color: #fff;
      order: 3px solid $brand_primary;
    }
  }
  .account-area {
    .account-link {

    }
  }
}

@media (max-width: 767px) {
  .mypage-wrapper {
    margin: 70px 10px 20px;
    h2 {
      font-size: 13px;
    }
  }
  table {
    font-size: 10px;
  }
  th, td {
    padding: 2px 4px;
  }
}
