.mypage-wrapper {
  color: $font_black;
  margin: 100px 30px 50px;
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  table {
    border: 1px solid $dark_gray;
    tr {
      border: 1px solid $dark_gray;
    }
  }
  .profile-area {
    padding: 0 10px;
  }
}

@media (max-width: 767px) {
  .mypage-wrapper {
    margin: 70px 10px 20px;
  }
}
