default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password:
  host: 127.0.0.1
  socket: /tmp/mysql.sock

development:
  <<: *default
  database: bodymate_development

test:
  <<: *default
  database: bodymate_test

production:
  <<: *default
  database: bodymate_production
  username: root
  password: <%= ENV['DATABASE_PASSWORD'] %>
  socket: /var/lib/mysql/mysql.sock
