footer {
  h2 {
    color: #ffffff;
    font-size: 24px;
  }
  h3 {
    color: #ffffff;
    font-size: 20px;
    line-height: 1.7;
  }
  a {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.7;
  }
  .classify {
    background-color: #3d618c;
    padding: 20px 40px;
    margin-bottom: 0;
    text-align: center;
    .prefecture {
      a:hover {
        color: $brand-primary;
        text-decoration: none;
      }
    }
    .genre {
      a:hover {
        color: $brand-primary;
        text-decoration: none;
      }
    }
    .date {
      a:hover {
        color: $brand-primary;
        text-decoration: none;
      }
    }
    .feature {
      a:hover {
        color: $brand-primary;
        text-decoration: none;
      }
    }
  }
  .footer-bottom {
    background-color: #2b3d52;
    padding: 15px 20px 10px;
    .footer-bottom-link {
      a:hover {
        color: $brand-primary;
        text-decoration: none;
      }
      ul {
        margin: 0;
        text-align: center;
        li {
          display: inline-block;
          padding: 5px 10px 0;
        }
      }
    }
    .copyright {
      color: white;
      text-align: center;
      p {
        padding: 20px 0 10px;
        margin-bottom: 0;
      }
    }
  }
}
