.navbar-header {
  .navbar-toggle {
    margin-top: 4px;
    margin-right: 25px;
    padding: 6px 0;
    .icon-bar {
      background: #777777;
      padding-bottom: 3px;
      width: 100%;
    }
    .hamburger-menu {
      font-size: 8px;
    }
  }
  .logo {
    img {
      width: 252px;
      height: 63px;
      margin: 0;
      webkit-filter:brightness(300%)  drop-shadow(2px 0 2px #333333);
      -moz-filter:brightness(300%)  drop-shadow(2px 0 2px #333333);
      -ms-filter:brightness(300%) drop-shadow(2px 0 2px #333333);
      filter:brightness(300%)  drop-shadow(2px 0 2px #333333);
    }
  }
  .search-modalbtn {
    color: $font_black;
    width: 50px;
    cursor: pointer;
    position: absolute;
    right: 85px;
    padding-bottom: 5px;
    text-align: center;
    .fa-search {
      font-size: 24px;
      margin-top: 7px;
    }
    .search_text {
      font-size: 10px;
    }
  }
}
.navbar-collapse {
  .nav {
    margin-top: 5px;
    margin-right: 5px;
    float: right;
    .search-modalbtn {
      color: $font_black;
      margin: 10px 5px;
      padding: 0 0 10px 0;
      height: 63px;
      width: 63px;
      background: rgba( 255 , 255 , 255 , 1);
      border: 1px solid #a9a9a9;
      border-radius: 10px;
      box-shadow: 0 2px 4px #a9a9a9;
      cursor: pointer;
      p {
        font-size: 10px;
        margin-top: 7px;
        text-align: center;
      }
      i {
        font-size: 28px;
        display: block;
        text-align: center;
        margin-top: -5px;
      }
    }
    .search-modalbtn:hover {
      background-color: #ececec;
    }
    li {
      a {
        color: $font_black;
        margin: 10px 5px;
        padding: 0 0 10px 0;
        height: 63px;
        width: 63px;
        background: rgba( 255 , 255 , 255 , 1);
        border: 1px solid #a9a9a9;
        border-radius: 10px;
        box-shadow: 0 2px 4px #a9a9a9;
        p {
          font-size: 10px;
          margin-top: 5px;
          text-align: center;
        }
        p.event_add_btn_text {
          line-height: 1;
        }
        i {
          font-size: 30px;
          display: block;
          text-align: center;
          margin-top: -8px;
        }
        i.regist-icon {
          font-size: 26px;
        }
        i.mypage-icon {
          font-size: 28px;
        }
      }
    }
  }
}

@media screen and (max-width:767px) {
  .navbar-fixed-top {
    height: 50px;
    background: white;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.4);
    .navbar-header {
      .logo {
        img {
          height: 34px;
          position: relative;
          top: -7px;
          left: -42px;
        }
      }
    }
    .navbar-collapse .navbar-nav {
      margin-top: -10px;
      margin-right: 0;
    }
  }
}
