.navbar-header {
  .navbar-toggle {
    margin-top: 4px;
    margin-right: 25px;
    padding: 6px 0;
    .icon-bar {
      background: #777777;
      padding-bottom: 3px;
      width: 100%;
    }
    .hamburger-menu {
      font-size: 8px;
    }
  }
  .logo {
    img {
      width: 252px;
      height: 63px;
      margin: 0;
      webkit-filter:brightness(300%)  drop-shadow(2px 0 2px #333333);
      -moz-filter:brightness(300%)  drop-shadow(2px 0 2px #333333);
      -ms-filter:brightness(300%) drop-shadow(2px 0 2px #333333);
      filter:brightness(300%)  drop-shadow(2px 0 2px #333333);
    }
  }
}
.navbar-collapse {
  .nav {
    margin-right: 5px;
    float: right;
    .search-modalbtn {
      color: $font_black;
      margin: 10px 5px;
      padding: 0 0 10px 0;
      height: 70px;
      width: 70px;
      background: rgba( 255 , 255 , 255 , 1);
      border: 1px solid #a9a9a9;
      border-radius: 12px;
      box-shadow: 0 2px 4px #a9a9a9;
      cursor: pointer;
      p {
        font-size: 10px;
        margin-top: 5px;
        text-align: center;
      }
      i {
        font-size: 32px;
        display: block;
        text-align: center;
        margin-top: -5px;
      }
    }
    .search-modalbtn:hover {
      background-color: #ececec;
    }
    li {
      a {
        color: $font_black;
        margin: 10px 5px;
        padding: 0 0 10px 0;
        height: 70px;
        width: 70px;
        background: rgba( 255 , 255 , 255 , 1);
        border: 1px solid #a9a9a9;
        border-radius: 12px;
        box-shadow: 0 2px 4px #a9a9a9;
        p {
          font-size: 10px;
          margin-top: 5px;
          text-align: center;
        }
        i {
          font-size: 32px;
          display: block;
          text-align: center;
          margin-top: -7px;
        }
      }
    }
  }
}

@media screen and (max-width:767px) {
  .navbar-fixed-top {
    height: 50px;
    background: white;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.4);
    .navbar-header {
      .logo {
        img {
          height: 34px;
          position: relative;
          top: -7px;
          left: -42px;
        }
      }
    }
  }
}
