// イベント削除のモーダル
.eventdelete-modal {
  position: fixed;
  display: none;
  z-index: 10;
  width: 50%;
  margin: 0;
  padding: 20px 20px;
  border: 2px solid $dark_gray;
  background: #fff;
  P {
    line-height: 1.8;
    margin: 0;
    padding: 0;
  }
  .row {
    margin-top: 20px;
  }
  .row-center {
    text-align:center;
    letter-spacing:-0.4em;
  }
  .row-center > [class*='col-'] {
    display:inline-block;
    letter-spacing: 0;
    float:none !important;
  }
  input[type="submit"] {
    color: white;
    background-color: $brand_primary;
    padding: 8px 12px;
    border: 1px solid $brand_primary;
    border-radius: 3px;
  }
  .modal-cancel a{
    padding: 8px 20px;
    border: 1px solid $brand_primary;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
  }
}

// イベントチケット予約のモーダル
.ticket-modal {
  position: fixed;
  display: none;
  z-index: 10;
  width: 75%;
  margin: 0;
  padding: 20px 40px 60px;
  border: 2px solid $dark_gray;
  border-radius: 5px;
  background: #fff;
  left: 0;
  h3 {
    font-size: 20px;
    margin-top: 10px;
  }
  .booking-comment {
    resize: none;
  }
  .new_booking {
    margin-top: 20px;
    .booking-submit {
      margin-right: 20px;
      position: absolute;
      right: 20px;
      bottom: -5px;
      color: white;
      background-color: $brand-primary;
      border: 1px solid $brand-primary;
      border-radius: 5px;
      padding: 6px 15px;
      margin-bottom: 30px;
      text-decoration: none;
    }
    .booking-submit:hover {
      color: $brand-primary;
      background-color: white;
    }
  }
}

// モーダル背景
.modal-overlay {
  z-index: 5;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0,0,0,0.75);
}

@media (max-width: 767px) {
  // スマホのイベント削除のモーダル
  .eventdelete-modal {
    width: 90%;
  }

  // スマホのチケット予約のモーダル
  .ticket-modal {
    width: 90%;
  }
}
