footer {
  .classify {
    background-color: #3d618c;
    margin-bottom: 0;
    ul {
      margin-bottom: 0;
    }
  }
  .footer-buttom {
    background-color: #2b3d52;
    .copyright {
      color: white;
      text-align: center;
      p {
        padding: 20px 0 10px;
        margin-bottom: 0;
      }
    }
  }
}
