@import "./config/variable";
@import "./config/reset";
@import "./config/mixins";

@import "./common/common";
@import "./common/header";
@import "./common/footer";
@import "./common/bootstrap";
@import "./common/flash";
@import "./common/modal";
@import "./common/adsense";

@import "./pages/home";
@import "./pages/user_show";
@import "./pages/event_form";
@import "./pages/event_show";
@import "./pages/devise";
@import "./pages/prefectures";

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
